.booking-square {
  display: flex;
  width: 15rem;
  border-radius: 5px;
  box-shadow: 0px 0px 29px 1px rgba(0, 0, 0, 0.55);
  margin: 1rem;
  padding: 1rem;
  width: 15rem;
  height: 23rem;
}

.error-message {
  font-size: 0.8rem;
}

.booking-input {
  font-size: 1rem;
  height: 2rem;
  width: 11rem;
  background-color: #efefef;
}
