.home {
    width: 100%;
    height: 100%;
}

.search-icon {
    background-color: black;
    height: 22px;
    width: 22px;
  
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-shrink: 0;
  }