.search-container {
  background-color: #efefef;
  color: black;
  margin: 0rem 5%;
  width: 83%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: fit-content;
  padding: 10px /* 10px */;
  gap: 4rem;

  position: relative;
  overflow: visible;
  flex-wrap: wrap;
  right: 0;
  left: 0;
  margin-top: -1rem;
}

.search-filter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 7px;
  padding: 0.5rem 3rem;

  position: relative;
  overflow: visible;
}

.search-input {
  width: auto;
  right: 145px;
}

.search-form {
  height: 3rem;
  width: 14rem;
  border-radius: 8px;
  border: #efefef;
  background-color: white;
  color: black;
  font-size: 19px;
  text-align: justify;
  padding-left: 12px;
}

.search-filter-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.filter-value {
  position: relative;

  margin-left: -30px;
  cursor: pointer;
}

.search-icon {
    background-color: black;
    height: 22px;
    width: 22px;
  
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-shrink: 0;
  }

/* collapsible sections */
.arrow {
  font-size: 12px;
  transition: transform 0.3s;
}

.section-content {
  margin-top: 8px;
  padding: 0.5rem;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 15;
}
